.formPage {
  position: relative;
}

.formArea {
  display: flex;
}

.mainCardSide {
  width: 0;
  height: calc(100vh - 153px);
  background: #fff;
  // padding: 8px;
  padding-top: 0;
  overflow: auto;
  padding-right: 0px;
  transition: 0.2s;
  border-right: 1px solid #e5e9eb;
  position: relative;
}
.mainCardSide.active {
  min-width: 400px;
  width: 400px;
  transition: 0.2s;
}

.secondaryCardSide {
  flex: 1;
  max-width: 100%;
  height: calc(100vh - 153px);
  overflow: auto;
  padding-top: 0;
  padding-left: 0;
}

.secondaryCardSide .active {
  max-width: calc(100% - 400px);
}

.formColumn {
  flex: 1;
}

.tableCardHeader {
  box-shadow: inset 0px -1px 0px #e5e9eb;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 10px;
  min-height: 54px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
}

.heightControl {
  position: absolute;
  top: 35px;
  right: 0;
  min-width: 120px;
  border: 1px solid #e5e9eb;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 5;
  border-radius: 6px;
  .heightControl_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #e5e9eb;
    cursor: pointer;
    &:hover {
      background-color: #f5f7f9;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.mainTextArea {
 color: #212B36;
 font-weight: bold;
 text-transform: capitalize;
 font-size: 14px;
}