$primary: #007aff;
$primary-hover: #005fc4;
$warning: #ffc107;
$warning-hover: hsl(45, 87%, 46%);
$grey: #6e8bb7;
$borders: #d4dae2;
$page-background: #f5f6fa;
$error: #ff4842;
$error-hover: #b72136;
$hover-silver: rgba(#919eab, 0.08);
$auth-layout-background: #9b0082;
$green: #3bb143;
$green-hover: #028910;
$danger: #d21502;
$danger-hover: #9c1003;
$violet: rgb(159, 18, 181);
